* .pdf
        Notes on Lattices, HE and CKKS.pdf
        Untitled19.ipynb
        Untitled20.ipynb
        VGG11_on_MNIST_with_without_Approx.ipynb
        alexnet_on_MNIST.ipynb
        alexnet_on_MNIST_without approx.pth
        helper_data.py
        helper_evaluate.py
        helper_train.py
        intro_to_CKKS.pdf
